<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/wing.css">
    <title>This is a Test Page.</title>
</head>
<body>
    <h1 class="header">All Users</h1>
    <div class="row">
    {% for u in users %}
    <!--<p>{{ u.name }} / {{ u.email }}</p>-->
        <div class="col">
            <h5 class="text-center">{{u.name}}</h5>
            <p class="content">{{u.email}}</p>
        </div>
    {% endfor %}
    </div>
    <div class="row">
          <div class="col">
            <h5 class="text-center">Intuitive</h5>
            <p class="content">All you have to do is drop Wing into your project, and everything will be styled automatically. There is a minimal amount of classes to learn.</p>
          </div>
          <div class="col">
            <h5 class="text-center">Lightweight</h5>
            <p class="content">Wing comes packed with features, including styling for most elements, a grid, and some components, all in just <strong>5kb.</strong></p>
          </div>
          <div class="col">
            <h5 class="text-center">Beautiful</h5>
            <p class="content">The styles that come with Wing are clean and modern, dropping it into your project will give you a headstart in design.</p>
          </div>
    </div>
</body>
</html>